@page
@using System.Linq;
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var awd = ViewData;
}
@if (Model != null)
{
    <div class="row" style="text-align:center">
        @if (!User.Identity.IsAuthenticated)
        {
            <div style="text-align: center;">
                <p>Вы не авторизованы</p>
                <img src="~/images/github1.png" class="github-logo" />
                <a asp-action="Login" asp-controller="Auth" class="btn btn-outline-primary">Авторизоваться с помощью GitHub</a>
            </div>
        }
        else
        {
            <form method="post">
                <div class="form-group">
                    <label asp-for="FormData.Owner"></label>
                    <input asp-for="FormData.Owner" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="FormData.Repository"></label>
                    <input asp-for="FormData.Repository" class="form-control" />
                </div>
                <button type="submit" class="btn btn-primary">Отправить</button>
            </form>

            <form method="post" action="/Repos/DeleteSelectedCommits">
                <table class="table">
                    <thead>
                        <tr>
                            <th> </th>
                            <th>Автор</th>
                            <th>Дата</th>
                            <th>Сообщение</th>
                            <th>SHA</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var commit in Model.Commits)
                        {
                            <tr>
                                <td><input type="checkbox" name="selectedItems[]" id="@commit.Id" value="@commit.Id" /></td>
                                <td>@commit.Author</td>
                                <td>@commit.DateCreate</td>
                                <td>@commit.Message</td>
                                <td>@commit.SHA</td>
                            </tr>
                        }
                    </tbody>
                </table>
                <button type="submit">Удалить выбранные коммиты</button>

            </form>
        }
    </div>
}

